ORBIT_API_KEY=orbit_wGHwzqfsdu6jAVRd1bWPxuXZfuP3AnOQDIrYZH5DcW0

GEMINI_API_KEY=73ae40db-d2eb-4836-ae40-dbd2ebe8367f
GEMINI_BASE_URL=https://dev-org-elesh-nxt.eu.gateway.gravitee.io/ask-gravitee-gemini-api
GEMINI_MODEL=gemini-2.0-flash

HUBSPOT_API_KEY=your-hubspot-private-app-token-here
